
<html>
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.add_form{

    margin-top: 20%;
    margin-left: 25%;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

</style>
<body>






<div class="add_form">  
    <h2 style="color:green;"><b>Register Robot</b></h2>

  <form id="add_robot" action="/add/robot" method="post">
    <label for="url">Robot Url</label>
    <input type="text" id="url" name="url" placeholder="url">

    <label for="lat">Lattitude</label>
    <input type="text" id="lat" name="lat" placeholder="optional">

    <label for="lon">Longitude</label>
    <input type="text" id="lon" name="lon" placeholder="optional">

    <input type="submit" value="Submit">  

  </form>
</div>

</body>
</html>