<% @comments.each do |comment| %>
var comment_data_id = "<%= comment.id %>";
var comment_cont = "<%= comment.content %>";
var comment_time = "<%= comment.time %>";
var user = "<%= comment.username %>"
var item = '<li style="width:100%;" data-id=' + comment_data_id + '>' +
                        '<div class="msj-rta macro">' +
                            '<div class="text text-r">' +
                            	'<p class="comment_username">' + user + '</p>' +
                                '<p class="comment_text">'+ comment_cont + '</p>' +
                                '<p class="comment_time"><small>' + comment_time + '</small></p>' +
                            '</div>' +
                        '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +
                        '</div>'
                  '</li>';
$('#ul1').append(item)

<% end %>
    var element = document.getElementById("comments_box");
    if(element.scrollTop > element.scrollHeight - 500){
        element.scrollTop = element.scrollHeight;
    }

Poller.poll();

